<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Environment:</b>
  <%= @project.environment %>
</p>

<p>
  <b><%= link_to 'Show JmeterRuns', "/projects/#{@project.id}/jmeter_runs" %>  </b>
</p>


<% link_to 'Edit', edit_project_path() %>
<% link_to 'Back', projects_path %>
