%h1 Listing jmx_definition_files

%table
  %tr
    %th
    %th
    %th

  - @jmx_definition_files.each do |jmx_definition_file|
    %tr
      %td= link_to 'Show', jmx_definition_file
      %td= link_to 'Edit', edit_jmx_definition_file_path(jmx_definition_file)
      %td= link_to 'Destroy', jmx_definition_file, :data => { :confirm => 'Are you sure?' } , :method => :delete

%br

= link_to 'New Jmx definition file', new_jmx_definition_file_path
