%p#notice= notice
%p
  = link_to 'Back', definition_files_index_path

.well
  = simple_format h(@jmx_definition_file.df.read) if @jmx_definition_file.df?

= link_to 'Back', definition_files_index_path
