= simple_form_for( @log_definition_file, :html => {:class => 'form-horizontal', :multipart => true } ) do |f|
  -if @log_definition_file.errors.any?
    .alert.alert-error.alert-block
      %ul
        - @log_definition_file.errors.full_messages.each do |msg|
          %li= msg
        %button.close{"data-dismiss" => "alert", :type => "button"}


  %p

  %p
    = f.file_field :df

  .actions
    = f.submit 'Save'
