%h1 Uploaded Log Files

%table.table.table-striped
  %tr
    %th Filename
    %th Actions


  - @log_definition_files.each do |log_definition_file|
    %tr
      %td= log_definition_file.df.file.filename unless log_definition_file.df.file.nil?
      %td
        .btn-toolbar
          .btn-group
            %a.btn{:href => log_definition_file_path(log_definition_file)}
              %i.icon-eye-open
            %a.btn{:href => edit_log_definition_file_path(log_definition_file)}
              %i.icon-pencil
            %a.btn{:href => "/log_definition_files/#{log_definition_file.id}", :data => {:method=>'delete', :confirm => 'Are you sure?'} }
              %i.icon-trash
%br
